<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    
    <title>Wikipedia | Search</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

        
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/"
                >Home <span class="sr-only">(current)</span></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About Us</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Services
              </a>
              
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact Us</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0" method="get", action="/search">
            <input
              class="form-control mr-sm-2"
              type="search"
              name="search"
              id="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
              Search
            </button>
        </form>
            <a class="navbar-brand mx-2 " href="#">  Hi  {{request.user}}</a>
            
               <!--  -->
               <a class="navbar-brand" href="/logout">Logout</a>
                
            
         
        </div>
      </nav>

      <div>
        {% if info|length < 1 %}
        <p>No Search Results</p>

      
        {% endif %}
        {% for f in info %}
                <a class = "mx-4" href="{% url "evalpage" user=f.unique_source %}">{{f.unique_source }}</a>
                
                <br>

                
        {% endfor%}
      </div>
    
</body>
</html>


